In [1]:
import numpy as np
import pandas as pd

In [2]:
frame = pd.DataFrame({'customer': ['Martha', 'Martha', 'Katie', 'Katie', 'Thomas', 'Thomas'],
             'item': ['Vegetable Spring Rolls', 'Vegetable Lo Mein', 'Broccoli w/Garlic Sauce',
                     'Bean curd w/ mixed vegetables', 'BBQ Spare Ribs', 'House of Crispy Beef']})
frame

  customer                           item
0   Martha         Vegetable Spring Rolls
1   Martha              Vegetable Lo Mein
2    Katie        Broccoli w/Garlic Sauce
3    Katie  Bean curd w/ mixed vegetables
4   Thomas                 BBQ Spare Ribs
5   Thomas           House of Crispy Beef

In [3]:
#set the quantity for each item to be 1
frame['quantity'] = 1
frame

  customer                           item  quantity
0   Martha         Vegetable Spring Rolls         1
1   Martha              Vegetable Lo Mein         1
2    Katie        Broccoli w/Garlic Sauce         1
3    Katie  Bean curd w/ mixed vegetables         1
4   Thomas                 BBQ Spare Ribs         1
5   Thomas           House of Crispy Beef         1

In [4]:
#select column
#frame['customer']
frame['customer']

0    Martha
1    Martha
2     Katie
3     Katie
4    Thomas
5    Thomas
Name: customer, dtype: object