In [10]:
import numpy as np
import pandas as pd

In [11]:
#group by function
df = pd.DataFrame({'key1': ['a', 'a', None, 'b', 'b', 'a', None],
                  'key2': pd.Series([1, 2, 1, 2, 1, None, 1], dtype='Int64'),
                  'data1': np.random.standard_normal(7),
                  'data2': np.random.standard_normal(7)})

In [12]:
df

   key1  key2     data1     data2
0     a     1 -0.557985 -0.628090
1     a     2 -0.696778 -0.191770
2  None     1 -0.738855 -1.567379
3     b     2  0.236903  0.096523
4     b     1  0.363353 -1.301435
5     a  <NA> -0.115747 -1.767970
6  None     1 -0.948024 -0.327628

In [13]:
#precalculate everyone we need to group this data by creating a GroupBy object
grouped = df['data1'].groupby(df['key1'])

In [14]:
grouped

In [15]:
type(grouped)

pandas.core.groupby.generic.SeriesGroupBy

In [ ]:
#we have not yet computed anything, so let's calculate the mean using the .mean() function