In [1]:
import numpy as np
import pandas as pd

#combine and merge datasets
#pd.merge: connects based on keys
#pd.concat: stack datsets upon an axis
#combine_first : splice together opening data to fill in missing values in one object with
#values from another

In [2]:
#df.merge : Database-style joins
#these are sql-like operations that are similar to those found in relational databases
#simple example:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                   'data1': pd.Series(range(7), dtype='Int64')})

In [3]:
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],
                   'data2': pd.Series(range(3), dtype='Int64')})

In [5]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [6]:
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [7]:
#Note: we are using the Int64 extension dtype
#many to one join
pd.merge(df1, df2)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [8]:
#note: we did not specify the column on which we are joining
#it is good to explicitly specify, though Pandas will use overlapping column names as keys
pd.merge(df1, df2, on='key')

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [9]:
#Typically the order of column output in pd.merge operations is not specified beforehand.
#If we have different columns on each object, specify beforehand.
df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                   'data1': pd.Series(range(7), dtype='Int64')})

df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'],
                   'data2': pd.Series(range(3), dtype='Int64')})

In [10]:
df3

  lkey  data1
0    b      0
1    b      1
2    a      2
3    c      3
4    a      4
5    a      5
6    b      6

In [11]:
df4

  rkey  data2
0    a      0
1    b      1
2    d      2

In [15]:
pd.merge(df3, df4, left_on='lkey')

MergeError: Must pass "right_on" OR "right_index".