In [1]:
import pandas as pd
import numpy as np

In [2]:
#Oftentimes data can be divided between different files, and thus difficult to analyze.
#Heirarchical indexing: multiple levels on an axis
data = pd.Series(np.random.uniform(size=9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                    [1, 2, 3, 1, 3, 1, 2, 2, 3]])

In [3]:
data

a  1    0.014930
   2    0.267427
   3    0.282887
b  1    0.101210
   3    0.146907
c  1    0.428306
   2    0.867729
d  2    0.410535
   3    0.428163
dtype: float64

In [4]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [5]:
#With a heirarchally indexed object, we can do partial indexing
#to choose subsets of the data.
data['b']

1    0.101210
3    0.146907
dtype: float64

In [6]:
data['a':'b']

a  1    0.014930
   2    0.267427
   3    0.282887
b  1    0.101210
   3    0.146907
dtype: float64

In [7]:
data['b':'d']

b  1    0.101210
   3    0.146907
c  1    0.428306
   2    0.867729
d  2    0.410535
   3    0.428163
dtype: float64

In [8]:
data['b':'c']

b  1    0.101210
   3    0.146907
c  1    0.428306
   2    0.867729
dtype: float64

In [9]:
data.loc[['b', 'd']]

b  1    0.101210
   3    0.146907
d  2    0.410535
   3    0.428163
dtype: float64

In [10]:
#selection is possible from an "inner" level
data.loc[:, 2]

a    0.267427
c    0.867729
d    0.410535
dtype: float64

In [11]:
data.loc[:, 2]

a    0.267427
c    0.867729
d    0.410535
dtype: float64

In [12]:
data.loc[:, 2]

a    0.267427
c    0.867729
d    0.410535
dtype: float64

In [13]:
data

a  1    0.014930
   2    0.267427
   3    0.282887
b  1    0.101210
   3    0.146907
c  1    0.428306
   2    0.867729
d  2    0.410535
   3    0.428163
dtype: float64

In [14]:
#we can rearrange data to a DataFrame
data.unstack()

          1         2         3
a  0.014930  0.267427  0.282887
b  0.101210       NaN  0.146907
c  0.428306  0.867729       NaN
d       NaN  0.410535  0.428163

In [15]:
data.unstack().stack() #we will explore this more in "reshaping and pivoting"

a  1    0.014930
   2    0.267427
   3    0.282887
b  1    0.101210
   3    0.146907
c  1    0.428306
   2    0.867729
d  2    0.410535
   3    0.428163
dtype: float64