In [1]:
import numpy as np
import pandas as pd

In [2]:
raw_df_step0 = pd.read_csv('stock_data/l_cna_2018_2022.csv', index_col=[0],
                           header=[0, 1], skipinitialspace=True)

In [4]:
#l_premium = raw_df_step0[]

In [5]:
l_premium_adj = raw_df_step0['Close']['L'] - raw_df_step0['Adj Close']['CNA']

In [7]:
raw_df_step0 = raw_df_step0.assign(**{'Loews (L) premium': l_premium_adj})

In [8]:
raw_df_step0

                           Adj Close                 Close             \
                                 CNA          L        CNA          L
Date
2018-01-02 00:00:00-05:00  36.725540  48.644119  52.419998  49.889999
2018-01-03 00:00:00-05:00  36.900681  49.209652  52.669998  50.470001
2018-01-04 00:00:00-05:00  37.159912  49.453403  53.040001  50.720001
2018-01-05 00:00:00-05:00  37.166912  49.355900  53.049999  50.619999
2018-01-08 00:00:00-05:00  36.963741  49.316902  52.759998  50.580002
...                              ...        ...        ...        ...
2023-01-27 00:00:00-05:00  43.150002  60.990002  43.150002  60.990002
2023-01-30 00:00:00-05:00  43.000000  60.419998  43.000000  60.419998
2023-01-31 00:00:00-05:00  43.560001  61.480000  43.560001  61.480000
2023-02-01 00:00:00-05:00  42.660000  60.540001  42.660000  60.540001
2023-02-02 00:00:00-05:00  41.740002  60.180000  41.740002  60.180000

                                High                   Low             \
                                 CNA          L        CNA          L
Date
2018-01-02 00:00:00-05:00  53.380001  50.250000  52.270000  49.680000
2018-01-03 00:00:00-05:00  52.939999  50.580002  52.320000  49.910000
2018-01-04 00:00:00-05:00  53.630001  51.020000  52.810001  50.480000
2018-01-05 00:00:00-05:00  53.369999  50.939999  52.889999  50.529999
2018-01-08 00:00:00-05:00  53.450001  50.750000  52.560001  50.369999
...                              ...        ...        ...        ...
2023-01-27 00:00:00-05:00  43.410000  61.279999  42.880001  60.540001
2023-01-30 00:00:00-05:00  43.689999  61.459999  42.980000  60.380001
2023-01-31 00:00:00-05:00  43.560001  61.490002  42.889999  60.040001
2023-02-01 00:00:00-05:00  43.340000  61.150002  42.400002  60.060001
2023-02-02 00:00:00-05:00  42.849998  60.599998  41.360001  59.330002

                                Open             Volume           \
                                 CNA          L     CNA        L
Date
2018-01-02 00:00:00-05:00  53.310001  50.240002  196600  1104900
2018-01-03 00:00:00-05:00  52.430000  49.910000  182800  1111500
2018-01-04 00:00:00-05:00  52.810001  50.599998  152300  1159700
2018-01-05 00:00:00-05:00  53.369999  50.860001  102000  1089200
2018-01-08 00:00:00-05:00  53.080002  50.490002  251500  1166200
...                              ...        ...     ...      ...
2023-01-27 00:00:00-05:00  43.410000  60.970001   89000   526100
2023-01-30 00:00:00-05:00  43.090000  60.810001  137800   470200
2023-01-31 00:00:00-05:00  43.220001  60.490002  140000   729400
2023-02-01 00:00:00-05:00  43.290001  60.830002  245200   776700
2023-02-02 00:00:00-05:00  42.619999  60.400002  224500  1044200

                          Loews (L) premium

Date
2018-01-02 00:00:00-05:00         13.164459
2018-01-03 00:00:00-05:00         13.569321
2018-01-04 00:00:00-05:00         13.560089
2018-01-05 00:00:00-05:00         13.453087
2018-01-08 00:00:00-05:00         13.616261
...                                     ...
2023-01-27 00:00:00-05:00         17.840000
2023-01-30 00:00:00-05:00         17.419998
2023-01-31 00:00:00-05:00         17.919998
2023-02-01 00:00:00-05:00         17.880001
2023-02-02 00:00:00-05:00         18.439999

[1281 rows x 13 columns]