In [1]:
from typing import List, Union
from datetime import datetime, timedelta
import numpy as np
import pandas as pd

In [2]:
#datetime, time, and calendar modules have resources for time series data
now = datetime.now()

In [3]:
now

datetime.datetime(2023, 1, 23, 6, 35, 21, 458823)

In [4]:
now.year, now.month, now.day

(2023, 1, 23)

In [5]:
#datetime stores date and time at the microsecond range
#timedelta represents the difference between two time objects
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [6]:
delta

datetime.timedelta(days=926, seconds=56700)

In [7]:
delta.days

926

In [8]:
delta.seconds

56700

In [9]:
#Adding and subtracting timedelta objects
start = datetime(2011, 1, 7)

In [10]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [11]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [12]:
#start of practice
start + timedelta(12, 13)

datetime.datetime(2011, 1, 19, 0, 0, 13)

In [13]:
start + timedelta(12, 13, 14) #adding a third number

datetime.datetime(2011, 1, 19, 0, 0, 13, 14)

In [14]:
start + timedelta(12, 13, 14, 15) #adding a fourth number

datetime.datetime(2011, 1, 19, 0, 0, 13, 15014)

In [15]:
start + timedelta(12, 13, 15014) #same as above

datetime.datetime(2011, 1, 19, 0, 0, 13, 15014)

In [16]:
timedelta(12, 13, 14, 15)

datetime.timedelta(days=12, seconds=13, microseconds=15014)

In [17]:
timedelta(12, 13, 14, 15).microseconds

15014

In [18]:
def zero_between(x, y):
    '''Random code that '''
    return timedelta(12, 13, x, y).microseconds

In [19]:
zero_between(14, 15)

15014

In [20]:
#Converting between str and datetime objects
stamp = datetime(2011, 1, 3)

In [21]:
str(stamp)

'2011-01-03 00:00:00'

In [22]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [23]:
stamp.strftime('%Y-%m')

'2011-01'

In [24]:
stamp.strftime('%j')

'003'

In [25]:
stamp2 = datetime(2023, 1, 1)

In [26]:
stamp2.strftime('%j')

'001'

In [27]:
stamp3 = datetime(2022, 12, 31)

In [28]:
stamp3.strftime('%j')

'365'

In [29]:
#time.strptime converts a string to a time
value = '2011-01-03'

In [30]:
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2011, 1, 3, 0, 0)

In [31]:
datestrs = ['7/7/2011', '8/6/2011']

In [32]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 7, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [33]:
#pandas is suited to working with strings of dates
datestrs : List[Union[str, datetime]] = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [34]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [35]:
#Pandas also handles values that could be considered missing
idx = pd.to_datetime(datestrs + [None])

In [36]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [37]:
idx[2]

NaT

In [38]:
#some codes do not work
#for example %F
try:
    datetime.strptime(value, '%F')
except ValueError as e:
    print(e)

'F' is a bad directive in format '%F'

In [39]:
pd.isna(idx)

array([False, False,  True])

In [40]:
#another example is %D, which does not work in strptime
try:
    datetime.strptime(value, '%D')
except ValueError as e:
    print(e)

'D' is a bad directive in format '%D'

In [41]:
#datetime locale info
datetime.strftime(now, '%A')

'Monday'

In [42]:
#local date formatting
datetime.strftime(now, '%x')

'01/23/23'

In [43]:
datetime.strftime(now, '%X')

'06:35:21'

In [44]:
#Time series basics: Series of timestamps forms a timestamp index. Create one from a list of dates.
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
        datetime(2011, 1, 7), datetime(2011, 1, 8),
        datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [45]:
#convert to pandas series
ts = pd.Series(np.random.standard_normal(6), index=dates)

In [46]:
ts

2011-01-02   -1.423885
2011-01-05   -1.436482
2011-01-07    1.072551
2011-01-08   -0.788211
2011-01-10   -2.788989
2011-01-12    1.177342
dtype: float64

In [47]:
#under the hood, this is a DatetimeIndex
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [48]:
#like any other series, we can perform operations on a DatetimeIndex
ts + ts[::2] #note the values not present are empty

2011-01-02   -2.847770
2011-01-05         NaN
2011-01-07    2.145101
2011-01-08         NaN
2011-01-10   -5.577978
2011-01-12         NaN
dtype: float64

In [49]:
#pandas stores timestamps using numpy datetime64 dtype
ts.index.dtype

dtype('<M8[ns]')

In [50]:
#scalar values from a DatetimeIndex are pandas Timestamp objectrs
stamp = ts.index[0]

In [51]:
stamp #a pandas Timestamp object is like a datetime object, but more versatile. E.g. millisecond info is available.

Timestamp('2011-01-02 00:00:00')

In [52]:
#DatetimeIndex series
stamp = ts.index[2]

In [53]:
ts[stamp]

1.0725507251310016

In [54]:
#Strings interpretable as dates also work as a convenience
ts['2011-01-10']

-2.788988866039932

In [55]:
#same as ts[stamp]
assert ts['2011-01-07'] == ts[stamp]

In [56]:
#longer time series: select a year or a year and month
#first generate the series
longer_ts = pd.Series(np.random.standard_normal(1000),
                     index=pd.date_range('2000-01-01', periods=1000))

In [57]:
longer_ts

2000-01-01    0.521977
2000-01-02    0.356766
2000-01-03   -0.787138
2000-01-04    0.273477
2000-01-05    1.351379
                ...
2002-09-22    0.916299
2002-09-23    0.957860
2002-09-24   -0.042178
2002-09-25   -1.599945
2002-09-26    0.570812
Freq: D, Length: 1000, dtype: float64

In [58]:
#select by year
longer_ts['2001'] #interpreted as a year, selects the time period

2001-01-01    0.491762
2001-01-02   -1.156457
2001-01-03    0.138799
2001-01-04   -0.353310
2001-01-05    0.478871
                ...
2001-12-27   -0.467886
2001-12-28    1.000816
2001-12-29    0.913860
2001-12-30   -0.947838
2001-12-31   -0.158258
Freq: D, Length: 365, dtype: float64

In [59]:
#specify the month e.g. May 2001 is '2001-05'
longer_ts['2001-05']

2001-05-01   -0.565919
2001-05-02   -0.094890
2001-05-03    0.603729
2001-05-04    0.531105
2001-05-05   -2.073718
2001-05-06   -0.685631
2001-05-07   -0.693674
2001-05-08    0.554191
2001-05-09    0.218555
2001-05-10   -0.263421
2001-05-11   -1.059580
2001-05-12    1.698836
2001-05-13    0.032632
2001-05-14   -1.256713
2001-05-15    1.030093
2001-05-16   -0.243579
2001-05-17   -0.859071
2001-05-18   -0.324651
2001-05-19   -0.967558
2001-05-20   -0.561235
2001-05-21    0.722029
2001-05-22    1.189985
2001-05-23    1.598239
2001-05-24   -2.125227
2001-05-25    1.423694
2001-05-26   -1.251136
2001-05-27   -0.228613
2001-05-28   -0.619297
2001-05-29    0.294658
2001-05-30    0.086090
2001-05-31   -0.024972
Freq: D, dtype: float64

In [60]:
#slicing with a datetime
ts[datetime(2011, 1, 7):] #includes the starting value

2011-01-07    1.072551
2011-01-08   -0.788211
2011-01-10   -2.788989
2011-01-12    1.177342
dtype: float64

In [61]:
ts.iloc[-4:] #.iloc also works

2011-01-07    1.072551
2011-01-08   -0.788211
2011-01-10   -2.788989
2011-01-12    1.177342
dtype: float64

In [62]:
#datetime indexing
ts[datetime(2011, 1, 7):]

2011-01-07    1.072551
2011-01-08   -0.788211
2011-01-10   -2.788989
2011-01-12    1.177342
dtype: float64

In [63]:
ts[datetime(2011, 1, 7): datetime(2011, 1, 10)]

2011-01-07    1.072551
2011-01-08   -0.788211
2011-01-10   -2.788989
dtype: float64

In [64]:
#timestamps do not need to be in the series for a range inquiry
ts

2011-01-02   -1.423885
2011-01-05   -1.436482
2011-01-07    1.072551
2011-01-08   -0.788211
2011-01-10   -2.788989
2011-01-12    1.177342
dtype: float64

In [65]:
ts['2011-01-06': '2011-01-11']

2011-01-07    1.072551
2011-01-08   -0.788211
2011-01-10   -2.788989
dtype: float64

In [66]:
#modifications affect the source time series
#truncate: slices a series between two dates.
ts.truncate(after='2011-01-09')

2011-01-02   -1.423885
2011-01-05   -1.436482
2011-01-07    1.072551
2011-01-08   -0.788211
dtype: float64

In [67]:
#this also works for DataFrames as well, with the rows as an index
dates = pd.date_range('2000-01-01', periods=100, freq = 'W-WED')

In [72]:
dates[:10]

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08'],
              dtype='datetime64[ns]', freq='W-WED')

In [73]:
long_df = pd.DataFrame(np.random.standard_normal((100, 4)),
                      index=dates,
                      columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [74]:
long_df.loc['2001-05']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.353734  0.508307  0.249659  0.478800
2001-05-09  0.742420 -0.145169 -0.203868 -0.723393
2001-05-16 -0.077537  1.185467  0.649684 -0.871802
2001-05-23 -0.303364  0.325083  1.700797 -0.064543
2001-05-30  0.790097 -0.992603  0.320694  0.685371

In [75]:
#time series duplicate indices
#Example: multiple observations are on a particular timeframe.
dates = pd.DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02',
                         '2001-01-02', '2000-01-03'])

In [76]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2001-01-02',
               '2000-01-03'],
              dtype='datetime64[ns]', freq=None)

In [77]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [78]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2001-01-02    3
2000-01-03    4
dtype: int64