In [1]:
from typing import List, Union
from datetime import datetime, timedelta
import numpy as np
import pandas as pd

In [2]:
#datetime, time, and calendar modules have resources for time series data
now = datetime.now()

In [3]:
now

datetime.datetime(2023, 1, 23, 10, 56, 4, 221062)

In [4]:
now.year, now.month, now.day

(2023, 1, 23)

In [5]:
#datetime stores date and time at the microsecond range
#timedelta represents the difference between two time objects
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [6]:
delta

datetime.timedelta(days=926, seconds=56700)

In [7]:
delta.days

926

In [8]:
delta.seconds

56700

In [9]:
#Adding and subtracting timedelta objects
start = datetime(2011, 1, 7)

In [10]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [11]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [12]:
#start of practice
start + timedelta(12, 13)

datetime.datetime(2011, 1, 19, 0, 0, 13)

In [13]:
start + timedelta(12, 13, 14) #adding a third number

datetime.datetime(2011, 1, 19, 0, 0, 13, 14)

In [14]:
start + timedelta(12, 13, 14, 15) #adding a fourth number

datetime.datetime(2011, 1, 19, 0, 0, 13, 15014)

In [15]:
start + timedelta(12, 13, 15014) #same as above

datetime.datetime(2011, 1, 19, 0, 0, 13, 15014)

In [16]:
timedelta(12, 13, 14, 15)

datetime.timedelta(days=12, seconds=13, microseconds=15014)

In [17]:
timedelta(12, 13, 14, 15).microseconds

15014

In [18]:
def zero_between(x, y):
    '''Random code that '''
    return timedelta(12, 13, x, y).microseconds

In [19]:
zero_between(14, 15)

15014

In [20]:
#Converting between str and datetime objects
stamp = datetime(2011, 1, 3)

In [21]:
str(stamp)

'2011-01-03 00:00:00'

In [22]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [23]:
stamp.strftime('%Y-%m')

'2011-01'

In [24]:
stamp.strftime('%j')

'003'

In [25]:
stamp2 = datetime(2023, 1, 1)

In [26]:
stamp2.strftime('%j')

'001'

In [27]:
stamp3 = datetime(2022, 12, 31)

In [28]:
stamp3.strftime('%j')

'365'

In [29]:
#time.strptime converts a string to a time
value = '2011-01-03'

In [30]:
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2011, 1, 3, 0, 0)

In [31]:
datestrs = ['7/7/2011', '8/6/2011']

In [32]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 7, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [33]:
#pandas is suited to working with strings of dates
datestrs : List[Union[str, datetime]] = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [34]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [35]:
#Pandas also handles values that could be considered missing
idx = pd.to_datetime(datestrs + [None])

In [36]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [37]:
idx[2]

NaT

In [38]:
#some codes do not work
#for example %F
try:
    datetime.strptime(value, '%F')
except ValueError as e:
    print(e)

'F' is a bad directive in format '%F'

In [39]:
pd.isna(idx)

array([False, False,  True])

In [40]:
#another example is %D, which does not work in strptime
try:
    datetime.strptime(value, '%D')
except ValueError as e:
    print(e)

'D' is a bad directive in format '%D'

In [41]:
#datetime locale info
datetime.strftime(now, '%A')

'Monday'

In [42]:
#local date formatting
datetime.strftime(now, '%x')

'01/23/23'

In [43]:
datetime.strftime(now, '%X')

'10:56:04'

In [44]:
#Time series basics: Series of timestamps forms a timestamp index. Create one from a list of dates.
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
        datetime(2011, 1, 7), datetime(2011, 1, 8),
        datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [45]:
#convert to pandas series
ts = pd.Series(np.random.standard_normal(6), index=dates)

In [46]:
ts

2011-01-02   -0.870587
2011-01-05   -1.185729
2011-01-07   -0.574983
2011-01-08   -0.345509
2011-01-10    0.356218
2011-01-12    0.931970
dtype: float64

In [47]:
#under the hood, this is a DatetimeIndex
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [48]:
#like any other series, we can perform operations on a DatetimeIndex
ts + ts[::2] #note the values not present are empty

2011-01-02   -1.741175
2011-01-05         NaN
2011-01-07   -1.149967
2011-01-08         NaN
2011-01-10    0.712436
2011-01-12         NaN
dtype: float64

In [49]:
#pandas stores timestamps using numpy datetime64 dtype
ts.index.dtype

dtype('<M8[ns]')

In [50]:
#scalar values from a DatetimeIndex are pandas Timestamp objectrs
stamp = ts.index[0]

In [51]:
stamp #a pandas Timestamp object is like a datetime object, but more versatile. E.g. millisecond info is available.

Timestamp('2011-01-02 00:00:00')

In [52]:
#DatetimeIndex series
stamp = ts.index[2]

In [53]:
ts[stamp]

-0.5749834497015188

In [54]:
#Strings interpretable as dates also work as a convenience
ts['2011-01-10']

0.3562180129296428

In [55]:
#same as ts[stamp]
assert ts['2011-01-07'] == ts[stamp]

In [56]:
#longer time series: select a year or a year and month
#first generate the series
longer_ts = pd.Series(np.random.standard_normal(1000),
                     index=pd.date_range('2000-01-01', periods=1000))

In [57]:
longer_ts

2000-01-01    0.556012
2000-01-02    0.308354
2000-01-03    2.738801
2000-01-04   -0.568752
2000-01-05    0.852513
                ...
2002-09-22    0.469287
2002-09-23   -0.146019
2002-09-24   -1.488439
2002-09-25   -1.338486
2002-09-26    1.173157
Freq: D, Length: 1000, dtype: float64

In [58]:
#select by year
longer_ts['2001'] #interpreted as a year, selects the time period

2001-01-01   -0.305196
2001-01-02   -0.138812
2001-01-03    0.903397
2001-01-04   -1.297963
2001-01-05    0.614863
                ...
2001-12-27    1.110466
2001-12-28   -0.967089
2001-12-29    0.788948
2001-12-30    1.452397
2001-12-31    2.056679
Freq: D, Length: 365, dtype: float64

In [59]:
#specify the month e.g. May 2001 is '2001-05'
longer_ts['2001-05']

2001-05-01    1.237828
2001-05-02    0.003622
2001-05-03    1.116773
2001-05-04   -1.330666
2001-05-05   -1.663019
2001-05-06   -0.867483
2001-05-07   -2.244312
2001-05-08    1.257345
2001-05-09    0.329085
2001-05-10    0.119496
2001-05-11    0.785396
2001-05-12   -1.183162
2001-05-13    0.333825
2001-05-14   -0.237456
2001-05-15    0.028148
2001-05-16    0.749690
2001-05-17    0.720174
2001-05-18    1.182521
2001-05-19    0.893263
2001-05-20   -0.934405
2001-05-21    0.293950
2001-05-22   -0.103267
2001-05-23    0.051300
2001-05-24   -1.248440
2001-05-25   -1.424091
2001-05-26   -2.030204
2001-05-27    1.289736
2001-05-28   -1.563650
2001-05-29   -0.645101
2001-05-30    1.389628
2001-05-31    0.811685
Freq: D, dtype: float64

In [60]:
#slicing with a datetime
ts[datetime(2011, 1, 7):] #includes the starting value

2011-01-07   -0.574983
2011-01-08   -0.345509
2011-01-10    0.356218
2011-01-12    0.931970
dtype: float64

In [61]:
ts.iloc[-4:] #.iloc also works

2011-01-07   -0.574983
2011-01-08   -0.345509
2011-01-10    0.356218
2011-01-12    0.931970
dtype: float64

In [62]:
#datetime indexing
ts[datetime(2011, 1, 7):]

2011-01-07   -0.574983
2011-01-08   -0.345509
2011-01-10    0.356218
2011-01-12    0.931970
dtype: float64

In [63]:
ts[datetime(2011, 1, 7): datetime(2011, 1, 10)]

2011-01-07   -0.574983
2011-01-08   -0.345509
2011-01-10    0.356218
dtype: float64

In [64]:
#timestamps do not need to be in the series for a range inquiry
ts

2011-01-02   -0.870587
2011-01-05   -1.185729
2011-01-07   -0.574983
2011-01-08   -0.345509
2011-01-10    0.356218
2011-01-12    0.931970
dtype: float64

In [65]:
ts['2011-01-06': '2011-01-11']

2011-01-07   -0.574983
2011-01-08   -0.345509
2011-01-10    0.356218
dtype: float64

In [66]:
#modifications affect the source time series
#truncate: slices a series between two dates.
ts.truncate(after='2011-01-09')

2011-01-02   -0.870587
2011-01-05   -1.185729
2011-01-07   -0.574983
2011-01-08   -0.345509
dtype: float64

In [67]:
#this also works for DataFrames as well, with the rows as an index
dates = pd.date_range('2000-01-01', periods=100, freq = 'W-WED')

In [68]:
dates[:10]

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08'],
              dtype='datetime64[ns]', freq='W-WED')

In [69]:
long_df = pd.DataFrame(np.random.standard_normal((100, 4)),
                      index=dates,
                      columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [70]:
long_df.loc['2001-05']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.792399 -0.509812  0.041632 -0.643342
2001-05-09  0.299364  1.545871  0.486863 -0.374723
2001-05-16 -0.340324 -0.545136 -2.683771  1.582533
2001-05-23 -0.492746  0.539917  0.746566 -0.108253
2001-05-30  1.132892  0.915624  0.417241  0.655029

In [71]:
#time series duplicate indices
#Example: multiple observations are on a particular timeframe.
dates = pd.DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02',
                         '2000-01-02', '2000-01-03'])

In [72]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2000-01-02',
               '2000-01-03'],
              dtype='datetime64[ns]', freq=None)

In [73]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [74]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [75]:
#How do we know that the series has duplicates in it?
#Check the ts.index.is_unique property
dup_ts.index.is_unique

False

In [78]:
#If we query an index value, one of two things will happen. If there is only one result,
#then it will return a scalar. If there are two or more than it will return a pd.Series object.
dup_ts['2000-01-03'] #not duplicated

4

In [79]:
dup_ts['2000-01-02'] #duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [80]:
#what if we wanted to aggregate the data with non-unique timestamps. The way to do this is to
#use groupby and pass level=0 (the one and only level)
grouped = dup_ts.groupby(level=0)

In [81]:
grouped

In [82]:
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [83]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [84]:
#Date ranges, frequencies, and shifting.
#Most time series in pandas are irregular, without a fixed frequency. Sometimes we want one that has a fixed frequency
#even if we sometimes get periods that are empty.
ts

2011-01-02   -0.870587
2011-01-05   -1.185729
2011-01-07   -0.574983
2011-01-08   -0.345509
2011-01-10    0.356218
2011-01-12    0.931970
dtype: float64

In [86]:
#convert sample series to fixed daily frequency by calling sample
resampler = ts.resample('D') #'D' means daily frequency in this context.

In [87]:
resampler

In [88]:
#pd.date_range generates a DatetimeIndex with an indicated length.
index = pd.date_range('2012-04-01', '2012-06-01')

In [89]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [90]:
#by default, we create daily timestamps with pd.date_range, but if we pass only a start or end date, then
#we must indicate a number of periods to generate
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [91]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [92]:
#start and end dates define strict boundaries for a date index
#e.g. if we want to see the last business day of each month, then only dates falling inside the interval will be included
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [94]:
pd.date_range('2023-01-01', periods=24, freq='H') #generate any

DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 01:00:00',
               '2023-01-01 02:00:00', '2023-01-01 03:00:00',
               '2023-01-01 04:00:00', '2023-01-01 05:00:00',
               '2023-01-01 06:00:00', '2023-01-01 07:00:00',
               '2023-01-01 08:00:00', '2023-01-01 09:00:00',
               '2023-01-01 10:00:00', '2023-01-01 11:00:00',
               '2023-01-01 12:00:00', '2023-01-01 13:00:00',
               '2023-01-01 14:00:00', '2023-01-01 15:00:00',
               '2023-01-01 16:00:00', '2023-01-01 17:00:00',
               '2023-01-01 18:00:00', '2023-01-01 19:00:00',
               '2023-01-01 20:00:00', '2023-01-01 21:00:00',
               '2023-01-01 22:00:00', '2023-01-01 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [95]:
#quarter ending from 2021 to 2022
pd.date_range('2021-01-01','2022-12-31', freq='BQ-JAN')

DatetimeIndex(['2021-01-29', '2021-04-30', '2021-07-30', '2021-10-29',
               '2022-01-31', '2022-04-29', '2022-07-29', '2022-10-31'],
              dtype='datetime64[ns]', freq='BQ-JAN')

In [96]:
#pd.date_range by default preserves the time of the start or end of the timestamp
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [97]:
#sometimes we want to create start and end dates with time information, but want to normalize it to midnight as a comparison.
#to do this we have the normalize=True argument
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')