In [1]:
import numpy as np
import pandas as pd

In [40]:
ages = pd.DataFrame(np.random.randint(22, 32, 10000), columns=['Age'])
ages

      Age
0      27
1      26
2      25
3      23
4      26
...   ...
9995   27
9996   31
9997   25
9998   29
9999   26

[10000 rows x 1 columns]

In [54]:
age_bins = pd.qcut(ages['Age'], q=4)

In [55]:
age_bins.value_counts()

(21.999, 24.0]    3094
(26.0, 29.0]      2956
(29.0, 31.0]      1979
(24.0, 26.0]      1971
Name: Age, dtype: int64

In [56]:
age_bins.unique()

[(26.0, 29.0], (24.0, 26.0], (21.999, 24.0], (29.0, 31.0]]
Categories (4, interval[float64, right]): [(21.999, 24.0] < (24.0, 26.0] < (26.0, 29.0] < (29.0, 31.0]]

In [57]:
ages['age_cagegory'] = age_bins

In [58]:
ages

      Age    age_cagegory
0      27    (26.0, 29.0]
1      26    (24.0, 26.0]
2      25    (24.0, 26.0]
3      23  (21.999, 24.0]
4      26    (24.0, 26.0]
...   ...             ...
9995   27    (26.0, 29.0]
9996   31    (29.0, 31.0]
9997   25    (24.0, 26.0]
9998   29    (26.0, 29.0]
9999   26    (24.0, 26.0]

[10000 rows x 2 columns]