In [1]:
from datetime import datetime
import numpy as np
import pandas as pd

In [2]:
#Timestamp/period conversion
dates = pd.date_range('2000-01-01', periods=3, freq='M')

In [3]:
dates

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31'], dtype='datetime64[ns]', freq='M')

In [4]:
dates.to_pydatetime() #converts to a series of python dates

array([datetime.datetime(2000, 1, 31, 0, 0),
       datetime.datetime(2000, 2, 29, 0, 0),
       datetime.datetime(2000, 3, 31, 0, 0)], dtype=object)

In [5]:
ts = pd.Series(np.random.standard_normal(3), index=dates)

In [6]:
ts

2000-01-31    1.606024
2000-02-29   -0.366375
2000-03-31    1.368605
Freq: M, dtype: float64

In [7]:
#convert timestamp index to periods with the to_period method
pts = ts.to_period()

In [8]:
pts

2000-01    1.606024
2000-02   -0.366375
2000-03    1.368605
Freq: M, dtype: float64

In [9]:
#Timestamps only belong to a single period for a given frequency.
#Frequency is inferred by default, but we can specify ANY frequency that it supports.
dates = pd.date_range('2000-01-29', periods=6)

In [10]:
dates #if we create a date_range with a given number of periods, it will add days by default.

DatetimeIndex(['2000-01-29', '2000-01-30', '2000-01-31', '2000-02-01',
               '2000-02-02', '2000-02-03'],
              dtype='datetime64[ns]', freq='D')

In [11]:
#If we 
try:
    pd.date_range('2000-01-29', periods=-1)
except Exception as e:
    print(e)

Cannot generate range with start=949104000000000000 and periods=-1

In [12]:
ts2 = pd.Series(np.random.standard_normal(6), index=dates)

In [13]:
ts2

2000-01-29    0.204088
2000-01-30   -0.294086
2000-01-31    0.762696
2000-02-01   -0.713756
2000-02-02    0.281793
2000-02-03   -0.133763
Freq: D, dtype: float64

In [14]:
ts2.to_period('M')

2000-01    0.204088
2000-01   -0.294086
2000-01    0.762696
2000-02   -0.713756
2000-02    0.281793
2000-02   -0.133763
Freq: M, dtype: float64

In [15]:
ts2.to_period('Y')

2000    0.204088
2000   -0.294086
2000    0.762696
2000   -0.713756
2000    0.281793
2000   -0.133763
Freq: A-DEC, dtype: float64

In [16]:
pts = ts2.to_period()

In [17]:
pts

2000-01-29    0.204088
2000-01-30   -0.294086
2000-01-31    0.762696
2000-02-01   -0.713756
2000-02-02    0.281793
2000-02-03   -0.133763
Freq: D, dtype: float64

In [18]:
pts.to_timestamp(how='end')

2000-01-29 23:59:59.999999999    0.204088
2000-01-30 23:59:59.999999999   -0.294086
2000-01-31 23:59:59.999999999    0.762696
2000-02-01 23:59:59.999999999   -0.713756
2000-02-02 23:59:59.999999999    0.281793
2000-02-03 23:59:59.999999999   -0.133763
Freq: D, dtype: float64

In [19]:
pts.to_timestamp(how='start')

2000-01-29    0.204088
2000-01-30   -0.294086
2000-01-31    0.762696
2000-02-01   -0.713756
2000-02-02    0.281793
2000-02-03   -0.133763
Freq: D, dtype: float64